@import '_reset';
/*=====================================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: '微軟正黑體';
	background-color: #C3114B;
}
#app{
	width: 100%;
	overflow: hidden;
}
nav{
	display: none;
}
.head {
	width: 100%;
	height: 630px;
	background-image: url('../images/bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	.mobile-header{
		display: none;
	}
	.head-wrap {
		width: 1200px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		.logo {
			width: 291px;
			height: 54px;
			position: absolute;
			top: 3%;
			left: 2%;
			background-image: url('../images/logo.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100%;
		}
		.slogan {
			width: 828px;
			height: 336px;
			position: absolute;
			bottom: 18%;
			left: 0;
			opacity: 0;
			transform: translate3d(0, -3000px, 0);
			&.active{
				animation: bounceInDown 1s forwards;
				animation-delay: .5s;
			}
			img {
				width: 100%;
				display: block;
			}
		}
		.slogan2{
			width: 376px;
			height: 136px;
			position: absolute;
			top: 62%;
			right: 26%;
			opacity: 0;
			transition: opacity .6s;
			transition-delay: 1s;
			transform-origin: center center;
			transform: translateY(-6%);
			&.active{
				opacity: 1;
				animation: moveUp .7s linear infinite alternate;
			}
			img{
				display: block;
				width: 100%;
			}
		}
		.slogan3{
			width: 629px;
			height: 72px;
			position: absolute;
			bottom: 0%;
			right: 26%;
			opacity: 0;
			transition: all .5s ease-in;
			transition-delay: 1.5s;
			transform: skewX(120deg);
			&.active{
				opacity: 1;
				transform: skewX(0deg);
			}
			img{
				display: block;
				width: 100%;
			}
		}
		.video-boxs{
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 1rem;
			background-color: #000;
			border-radius:0 0 16px 16px;
			width: 300px;
			&:before{
				content: attr(data-title);
				width: 100%;
				padding: 1.25rem 0;
				text-align: center;
				background-color: #000;
				color:#fff;
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(-50%);
				border-radius: 16px 16px 0 0;
				z-index: 3;
			}
			a{
				display: block;
				position: relative;
				
				img{
					width: 100%;
					display: block;
				}
				&:before{
					content:attr(data-title);
					width: 100%;
					height: 100%;
					background-color:rgba(0,0,0,.5);
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 1.25rem;
					position: absolute;
					top: 0;
					left: 0;
					color:#fff;
					transition: all .3s;
				}
				&:hover:before{
					opacity: 0;
				}
			}
		}
	}
}
.discount-boxs{
	width: 100%;
	display: none;
	.discount-slide{
		padding: 0 .5rem;
	}
}
@keyframes moveUp{
	0%{
		transform: translateY(-6%);
	}
	100%{
		transform: translateY(6%);
	}
}

.ultrabooks-container.life{
	h3{
		background-image: url('../images/title1.png');
	}
}
.ultrabooks-container.dc{
	h3{
		background-image: url('../images/title2.png');
	}
}
.ultrabooks-container.light{
	h3{
		background-image: url('../images/title3.png');
	}
}
.ultrabooks-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 3.5rem;
	position: relative;
	h3 {
		width: 398px;
		height: 71px;
		background-repeat: no-repeat;
		background-size: 100%;
		font-weight: bold;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0%, -50%) scale(.9);
		z-index: 3;
		strong{
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-10000%);
		}
		span.for {
			color: #fbff00;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: -82px;
			left: -182px;
			width: 176px;
			height: 206px;
			background-image: url(../images/man.png);
			background-repeat: no-repeat;
			background-size: 100%;
			z-index: 1;
			display: none;
		}
	}
	.ultrabooks-wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 3rem 0 0;
		background-color: #fff;
		margin-top: 2rem;
		border-radius: 6px;
		position: relative;
		z-index: 2;
		.ultrabooks {
			flex-basis: 25%;
			width: 25%;
			img {
				width: 100%;
				border-right: 1px dotted rgb(199, 199, 199);
				border-bottom: 1px dotted rgb(199, 199, 199);
				margin: 0 auto;
				display: block;
				padding: 1rem;
			}
		}
	}
}
.discount-container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto 2rem;
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	h2{
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-100%);
	}
	.discount-img{
		width: 20%;
		flex-basis: 20%;
		transform-origin: top center;
		transition: transform .3s;
		cursor: pointer;
		&:hover{
			transform: rotate(-5deg);
		}
		img{
			width: 100%;
			display: block;
			padding: .5rem;
		}
	}
}
.discount-slide{
	padding: 0 .5rem;
	img{
		display: block;
		width: 100%;
	}
}
.video-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
	justify-content: center;
	position: relative;
	display: none;
	.video-boxs{
		// width: 300px;
		padding: 1rem;
		background: #000;
		border-radius: 0 0 16px 16px;
		position: relative;
		&:before{
			content: attr(data-title);
			width: 100%;
			padding: 1.25rem 0;
			text-align: center;
			background-color: #000;
			color:#fff;
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(-50%);
			border-radius: 16px 16px 0 0;
			font-size: 1.25rem;
			font-weight: bold;
		}
		a{
			display: block;
			img{
				width: 100%;
				display: block;
			}
		}
	}
}

.items-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	img {
		width: 100%;
		display: block;
	}
}

.links-container {
	width: 1200px;
	margin: 0 auto;
	padding: 2rem 0;
}
.else-menu-bar {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom:4rem;
	position: relative;
	.else-menu-wrap {
		width: 100%;
		height: 64px;
		display: flex;
		justify-content: center;
		.menu {
			width: 241px;
			cursor: pointer;
			margin-right: .75rem;
			background-position: center 0;
			background-repeat: no-repeat;
			background-size: 100%;
			@for $i from 1 through 4 {
				&:nth-of-type(#{$i}) {
					background-image: url('../images/menu#{$i}.png');
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.to-top{
	position: fixed;
	right: 10%;
	bottom: 10%;
	width: 80px;
	height: 80px;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 50%;
	border:5px solid #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all .5s;
	opacity: 0;
	transform: scale(0);
	z-index: 999;
	display: none;
	&.active{
		opacity: 1;
		transform: scale(1)
	}
	.triangle{
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 12px solid #fff;
		margin-bottom: .55rem;
	}
	span{
		color:#fff;
		font-size: 1.25rem;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		pointer-events: none;
	}
}
.footer{
	background-color: #1f1f1f;
	text-align: center;
	padding: 1rem;
	color:#fff;
}
.swiper-container-android .swiper-slide, .swiper-wrapper{
	text-align: center;
}
.h1-seo{
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-100%);
}
.fix-menu{
	position: fixed;
	bottom: 30%;
	right: 12px;
	z-index: 888;
	transition: all .3s;
	opacity: 0;
	&.showIn{
		opacity: 1;
	}
	.fix-slogan{
		width: 110px;
		height: 40px;
		background-image: url('../images/fixmenu.png');
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 6px;
	}
	.title{
		background-color: #de0d51;
		padding:.5rem 1rem;
		text-align: center;
		color:#fff;
		position: relative;
		&:before{
			content: "";
			width: 89px;
			height: 0;
			border-top: 7px solid #a20538;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			position: absolute;
			bottom: -7px;
			left: 0px;
			z-index: 6;
		}
	}
	ul{
		position: relative;
		width: 86px;
		margin: 7px auto;
		li{
			background-color: #1baef5;
			padding: .75rem 0;
			cursor: pointer;
			color: #fff;
			border-bottom:1px dotted #98deff;
			&.active{
				background-color: #075d86;
			}
			span{
				display: block;
				text-align: center;
				cursor: pointer;
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
	.fix-top{
		background-color: #de0d51;
		padding:.5rem 1rem;
		text-align: center;
		color:#fff;
		position: relative;
		cursor: pointer;
		&:before{
			content: "";
			width: 89px;
			height: 0;
			border-bottom: 7px solid #a20538;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			position: absolute;
			top: -7px;
			left: 0px;
			z-index: 6;
		}
		&:after{
			content: "";
			border-top: 10px solid #de0d51;
			border-left: 56px solid transparent;
			border-right: 56px solid transparent;
			position: absolute;
			bottom: -10px;
			left: 0px;
			z-index: 6;
		}
	}
}
.ultrabooks-container .ultrabooks-wrap .ultrabooks.big-col50{
	flex-basis: 50%;
	width: 50%;
}
@keyframes bounceInDown {
	from,60%,75%,90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		transform: translate3d(0, -3000px, 0);
	}
	60% {
		opacity: 1;
		transform: translate3d(0, 25px, 0);
	}
	75% {
		transform: translate3d(0, -10px, 0);
	}
	90% {
		transform: translate3d(0, 5px, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@media screen and (max-width:1200px){
	.head {
		height: 500px;
		.head-wrap{
			width: 100%;
		}
	}
	.discount-container{
		padding: 0 3rem;
	}
	.ultrabooks-container {
		padding: 0 4rem;
		h3{
			transform: translate(18%, -50%) scale(.9);
		}
		.ultrabooks-wrap{
			.ultrabooks{
				flex-basis: (100% / 3);
				width: (100% / 3);
				&.intel-sbtn{
					display: block;
				}
				&.intel-btn{
					display: none;
				}
			}
		}
	}
	.head .head-wrap .slogan{
		width: 575px;
		bottom: 0%;
		left: 3%;
	}
	.head .head-wrap .slogan2{
		width: 254px;
		top: 63%;
		right: 31%;
	}
	.head .head-wrap .slogan3{
		width: 543px;
		right: 31%;
	}
	.head .head-wrap .video-boxs{
		transform: scale(.9);
	}
}

@media screen and (max-width:1000px){
	.head{
		height: 437px
	}
	.head .head-wrap .logo{
		width: 235px;
	}
	.head .head-wrap .slogan{
		width: 452px;
		height: 183px;
		bottom: 26%;
	}
	.head .head-wrap .slogan2{
		width: 237px;
		height: 86px;
		top: 57%;
	}
	.head .head-wrap .slogan3{
		width: 476px;
		height: 54px;
		bottom: 6%;
	}
	.else-menu-bar {
		.else-menu-wrap {
			height: 47px;
			.menu{
				width: 180px;
				height: 47px;
				background-position: center 0;
				background-size: 100%;
				background-repeat: no-repeat;
			}
		}
	}
	.ultrabooks-container h3:before{
		transform: scale(.9);
	}
	.head .head-wrap .video-boxs{
		transform: scale(0.6);
		right: -45px;
	}
}

@media screen and (max-width:800px){

	.else-menu-bar {
		.else-menu-wrap {
			.menu{
				background-position: center center;
				background-size: 100%;
				background-repeat: no-repeat;
				&:hover{
					background-position: center center;
				}
			}
		}
	}
	.menu-bar {
		.menu-wrap{
			.menu{
				@for $i from 1 through 5 {
					&:nth-of-type(#{$i}) {
						background-image: url('../images/mobile/menu-0#{$i}.png');
					}
				}
				&:hover{
					@for $i from 1 through 5 {
						&:nth-of-type(#{$i}) {
							background-image: url('../images/mobile/menu-0#{$i}.png');
						}
					}
				}
			}
		}
	}
	.discount-container .discount-wrap .discount-boxs{
        flex-basis: 100%;
        width: 100%;
    }
}
@media screen and (max-width:768px){
	.head{
		margin-top: 54px;
	}
	nav{
		width: 100%;
		background-color: #fff;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: fixed;
		top: 0;
		z-index: 998;
		border-bottom: 1px solid rgb(226, 226, 226);
		.icon-box{
			width: 100%;
			display: flex;
			padding: .75rem;
			align-items: center;
			.logo{
				display: inline-block;
				width: 160px;
				img{
					width: 100%;
					display: block;
				}
			}
			.menu{
				margin-left: auto;
				width: 30px;
				height: 30px;
				padding-top: 4px;
			}
		}
		.menu-box{
			flex-basis: 100%;
			width: 100%;
			height: 0;
			transition: all .5s;
			overflow: hidden;
			li{
				width: 100%;
				a{
					width: 100%;
					padding: .75rem;
					text-align: center;
					display: inline-block;
					text-decoration: none;
					background-color: #00a3cc;
					color:#fff;
					border-bottom:1px solid #01b1dd;
				}
			}
		}
	}
	.head{
		background-image: none;
		height: auto;
		.mobile-header{
			display: block;
			width: 100%;
			img{
				width: 100%;
				display: block;
			}
		}
		.head-wrap {
			display: none;
			.logo{
				width: 140px;
				display: none;
			}
			.slogan{
				display: none;
			}
			.slogan2{
				display: none;
			}
			.slogan3{
				display: none;
			}
		}
	}
	.discount-container{
		padding: 0 2rem;
	}
	.ultrabooks-container{
		margin: 3rem auto 2rem;
		padding: 0 2rem;
	}
	.ultrabooks-container h3{
		transform: translate(95px, -50%) scale(0.8);
		&:before{
			display: block;
		}
	}
	.ultrabooks-container h3:before{
		transform: scale(0.75);
		left: -146px;
	}
	.ultrabooks-container .ultrabooks-wrap .ultrabooks{
		flex-basis: 50%;
		width: 50%;
		&:nth-of-type(even){
			img{
				border-right: none;
			}
		}
	}
	.ultrabooks-container .ultrabooks-wrap .ultrabooks.big-col50{
		flex-basis: 100%;
		width: 100%;
	}
	.else-menu-bar {
		display: none;
	}
	.video-container{
		display: flex;
		margin-top: 2rem;
	}
	.head .head-wrap .video-boxs{
		display: none;
	}
	.discount-img{
		display: none;
	}
	.discount-boxs{
		display: block;
		margin-bottom: 1rem;
	}
	.fix-menu{
		display: none;
	}
	.to-top{
		display: flex;
	}
	.ultrabooks-container .ultrabooks-wrap .ultrabooks img{
		padding: .5rem;
	}
}
@media screen and (max-width:576px){
	nav .icon-box .logo{
		width: 131px;
	}
	nav .icon-box .menu{
		width: 26px;
		height: 26px;
	}
	.head{
		margin-top: 51px;
		.head-wrap{
			.slogan{
				width: 70%;
				height: 200px;
			}
		}
	}
	.discount-container{
		padding: 0 1rem;
	}
	.ultrabooks-container{
		margin-top: 3.5rem;
		padding: 0 1rem;
		h3{
			transform: translate(14px, -50%) scale(0.7);
		}
		.ultrabooks-wrap .ultrabooks{
			img{
				// border-right: none;
			}
		}
	}
	.ultrabooks-container h3:before{
		left: -118px;
	}
	.else-menu-bar{
		height: auto;
		.else-menu-wrap{
			height: auto;
			padding: .75rem;
			flex-wrap: wrap;
			&.active{
				position: relative;
			}
			.menu{
				flex-basis: 50%;
				margin-right: 0;
			}
		}
	}
	.ultrabooks-container h3:before{
		transform: scale(0.8);
	}
	.ultrabooks-container .ultrabooks-wrap{
		padding: 2rem 0 0;
	}

	.else-menu-bar {
		.else-menu-wrap{
			.menu{
				width: 240px;
				height: 63px;
			}
		}
	}
	.to-top{
		width: 60px;
		height: 60px;
		border: 4px solid #fff;
		span{
			font-size: 1rem;
		}
	}
}
@media screen and (max-width:414px){
	.ultrabooks-container h3{
		background-image: none !important;
	}

	.else-menu-bar{
		.else-menu-wrap{
			.menu{
				height: 53px;
			}
		}
	}
	.ultrabooks-container{
		margin: -1rem auto 1rem;
	}
	.ultrabooks-container .ultrabooks-wrap .ultrabooks img{
		padding: .5rem;
	}
	.ultrabooks-container h3{
		transform: translate(0,0);
		background-image: none;
		width: 100%;
		position: relative;
		&:after{
			content:attr(data-title);
			font-size: 1.25rem;
			position: absolute;
			width: 100%;
			background-color: #00a3cc;
			padding: .75rem 0;
			top: 100px;
			left: 50%;
			text-align: center;
			transform: translate(-50%,-50%);
		}
		&:before{
			top: -33px;
			left: -13%;
			transform: scale(0.5);
		}
	}
	.discount-container .discount-wrap .video-boxs .video{
		width: 100%;
	}
	.discount-container{
		margin: 0 auto;
	}
	.discount-boxs{
		margin-bottom: 0;
	}
	.footer{
		padding: .5rem;
		font-size: .9rem;
	}
	.ultrabooks-container .ultrabooks-wrap{
		padding: 1rem 0 0;
	}
}
@media screen and (max-width:320px){
	.menu-bar,.else-menu-bar{
		.menu-wrap,.else-menu-wrap{
			.menu{
				height: 39px;
			}
		}
	}
}